* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: url('../assets/app-bg.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    background-attachment: fixed;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .loading-container {
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;

        .loading-weather-data {
            border: 1px solid #fff;
            padding: .5rem 1rem;
            border-radius: .5rem;
            background-color: rgba(255, 255, 255, .25);
            color: #fff;
            font-size: 1.25rem;
        }
    }
}

@media screen and (min-width: 480px) {
    .App {
        width: 480px;
        border: 1px solid #fff;
        margin: 0 auto;
    }
}