.current-weather__container {
    border-radius: 10px;
    background: white;
    padding: 10px 25px;
    box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.75);

    p {
        padding: 10px 0;
    }

    .current-weather__details {
        display: flex;

        .current-weather__info {
            flex: 1;

            .weather-type {
                padding-top: 0;
                font-size: .9rem;
            }
        }

        .current-weather__icon {
            flex: 1;
        }
    }
}