.current-weather__container {
    border-radius: 10px;
    background: rgba(255, 255, 255, .6);
    padding: 10px 25px;
    box-shadow: 4px 4px 15px 0px rgba(50, 50, 50, 0.75);

    .current-weather__details {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: -10px 0;

        .current-weather__info {

            .weather-type {
                padding-top: 0;
                font-size: .9rem;
            }
        }
    }

    .current-weather__location {
        color: #a4a4a4;

        .weather-location {
            display: inline-block;
            padding: 0 5px;
        }
    }
}