.details__container {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, .6);

    .details-lowhigh__container {
        display: flex;
        justify-content: space-around;

        .details-temp {
            text-align: center;

            .low-temp, .high-temp {
                color: #898989;
            }
        }
    }

    .detail-info__container {
        padding: 20px 10px;
    }    
}