.details__container {
    flex: 1;
    padding: 20px;
    background: rgba(255, 255, 255, .6);
    overflow: hidden;
    display: flex;
    flex-direction: column;

    .details-lowhigh__container {
        display: flex;
        justify-content: space-around;

        .details-temp {
            text-align: center;

            .low-temp, .high-temp {
                color: #898989;
            }
        }
    }

    .details-info__container {
        padding: 20px 10px;
        flex: 1;
        overflow: auto;
    }    
}