.mobile-menu__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    background: #f2f2f2;

    .mobile-menu__icon {
        text-align: center;
        padding: 10px;
        color: #888;

        &.disabled {
            color: #ccc;
        }
    }

    .mobile-menu__title {
        font-size: .7rem;
        margin-top: 2px;
    }

    .active-menu {
        color: #007aff;
        font-weight: bold;
    }
}
