.temperature__container {
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: -2px;
    display: flex;
    position: relative;

    /* Degrees is positioned absolutely, so that the temperature will remain centered horizontally */
    .degrees {
        position: absolute;
        right: -1rem;
    }
}