.user-options__container {
    border-radius: 5px;
    background: #007aff;
    margin: 30px 0 20px;
    margin: 20px;

    .user-options__choices {
        display: flex;
        justify-content: space-evenly;
        padding: 2px;

        .user-options__option {
            flex: 1;
            text-align: center;
            background: #fff;
            padding: 8px;
            color: #007aff;
            cursor: pointer;
            transition: .3s ease-in-out;

            &:first-child {
                border-radius: 5px 0 0 5px;
            }

            &:last-child {
                border-radius: 0 5px 5px 0;
            }
        }
    
        .active-option {
            background: #007aff;
            color: #fff;
        }
    }
}